:root {
  --font-Montserrat: 'Montserrat', sans-serif;
  --logo-color: #161D2A;
  --primary: #ff6b0a;
  --primaryHover: #cc5608;
  --black: #010101;
  --gray: #424242;
  --primaryBg: #f5f5f5;
  --white: #fff;
  --placeholder: #757575;

}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}



.app {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-sizing: border-box;
  background-color: var(--primaryBg);

}

.universityContainer {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}

/* .universityDescription {
  padding: 14px;
} */

